@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$price-color:#02995b;
$bgc-color:#fdde7e;
$bgcs-color:#fff;
$text-color:#333;
$secondary-color:#414141;
$title-ff:Roboto, Arial, sans-serif;
$text-ff:Lato, Arial, sans-serif;
